.Container {
    display: flex;
    height: 100%;
    width: 100%;
}

.TitleContainer {
    display: flex;
    justify-content: center;
}

.Title {
    display: flex;
    font-size: 2.5em;
}

.AddNewRecipeButton {
    border-radius: 8px;
}